<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>start</welcome-file>
    </welcome-file-list>

    <student.servlet>
        <student.servlet-name>controller</student.servlet-name>
        <student.servlet-class>servlets.StartServlet</student.servlet-class>
    </student.servlet>
    <student.servlet-mapping>
        <student.servlet-name>controller</student.servlet-name>
        <url-pattern>/controller</url-pattern>
    </student.servlet-mapping>
</web-app>