<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                                    http://www.springframework.org/schema/security
                                    http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/authorization.jsp" access="permitAll()"/>
        <intercept-url pattern="/css/**/" access="permitAll()"/>
        <intercept-url pattern="/js/**" access="permitAll()"/>
        <intercept-url pattern="/fonts/**" access="permitAll()"/>
        <intercept-url pattern="/organizer/*" access="hasAnyRole('TEACHER','ADMIN')"/>
        <intercept-url pattern="/calendar*" access="hasAnyRole('TEACHER','ADMIN')"/>
        <intercept-url pattern="/controller/*" access="hasAnyRole('TEACHER','ADMIN')"/>
        <intercept-url pattern="/controller*" access="hasAnyRole('TEACHER','ADMIN')"/>
        <intercept-url pattern="/test*" access="hasAnyRole('TEACHER','ADMIN')"/>
        <intercept-url pattern="/director*" access="hasAnyRole('DIRECTOR','ADMIN')"/>
        <intercept-url pattern="/register/*" access="permitAll()"/>
        <intercept-url pattern="/register*" access="permitAll()"/>
        <intercept-url pattern="/admin/**" access="hasAnyRole('ADMIN')"/>
        <intercept-url pattern="/testlist*" access="hasAnyRole('STUDENT')"/>
        <intercept-url pattern="/workload*" access="hasAnyRole('STUDENT')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <form-login login-page="/authorization.jsp" username-parameter="login" password-parameter="password"
                    authentication-success-forward-url="/auth" />
        <logout logout-url="/logout" logout-success-url="/authorization.jsp"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <!--<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<beans:property name="driverClassName" value="org.postgresql.Driver"/>-->
        <!--<beans:property name="url" value="jdbc:postgresql://localhost:5432/SchoolMark"/>-->
        <!--<beans:property name="username" value="postgres"/>-->
        <!--<beans:property name="password" value="7895123"/>-->
    <!--</beans:bean>-->

    <beans:bean id="customUserDetailsService" class="security.CustomUserDetailsService" autowire="constructor"/>
    <beans:bean id="passwordEncoder" class="security.CustomPasswordEncoder"/>
</beans:beans>