<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>auth</welcome-file>
    </welcome-file-list>

    <!--ENCODING FILTER-->
    <!--<filter>-->
        <!--<filter-name>encodingFilter</filter-name>-->
        <!--<filter-class>servlets.filters.CharacterEncodingFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>encodingFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!--&lt;!&ndash; END ENCODING FILTER&ndash;&gt;-->

    <!--&lt;!&ndash; FILTER &ndash;&gt;-->

    <!--<filter>-->
        <!--<filter-name>AdminFilter</filter-name>-->
        <!--<filter-class>servlets.filters.AdminFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>AdminFilter</filter-name>-->
        <!--<url-pattern>/admin/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--    SERVLET    -->

    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>servlets.AuthorizationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminCabinetServlet</servlet-name>
        <servlet-class>servlets.admin.AdministratorCabinetServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ClassesListServlet</servlet-name>
        <servlet-class>servlets.admin.lists.ClassesListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TeacherListServlet</servlet-name>
        <servlet-class>servlets.admin.lists.TeacherListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateClassServlet</servlet-name>
        <servlet-class>servlets.admin.CreateClassServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SchoolListServlet</servlet-name>
        <servlet-class>servlets.admin.lists.SchoolListServlet</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>RegionsListServlet</servlet-name>
        <servlet-class>servlets.admin.lists.RegionsListServlet</servlet-class>
    </servlet>
    -->
    <!--    SERVLET MAPPING    -->

    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/register/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminCabinetServlet</servlet-name>
        <url-pattern>/admin/cabinet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ClassesListServlet</servlet-name>
        <url-pattern>/admin/classes</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TeacherListServlet</servlet-name>
        <url-pattern>/admin/teachers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateClassServlet</servlet-name>
        <url-pattern>/admin/class</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SchoolListServlet</servlet-name>
        <url-pattern>/admin/schools</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>RegionsListServlet</servlet-name>
        <url-pattern>/admin/regions</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/mystatic/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>

</web-app>